body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

.hide {
	display: none;
}

#map,
#panorama {
	margin-top: 5vh;
	margin-bottom: 5vh;
	height: 90vh;
	width: 100%;
	border-radius: 10px;
	z-index:-100;
	position: fixed;
}

a {
	color: #ff0;
	text-decoration: none;
	
}

.dropdown {
	float: left;
	overflow: hidden
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	background-color: rgba(55, 55, 55, 0.6);
	padding: 14px 16px;
	margin: 0;
	color: #FFFFFF
}

.dropdown a {
	font-size: 16px;
	background-color: rgba(55, 55, 55, 0.6);
	padding: 11px 16px;
	float: left;
	color: #FFFFFF
}

.navbar a:hover,
.dropdown:hover .dropbtn {
	background-color: rgba(55, 55, 55, 0.6);
	color: #FFFFFF
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #000;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 1
}

.dropdown-content a {
	float: none;
	color: #FFF;
	padding: 12px 16px;
	display: block;
	background-color: rgba(55, 55, 55, 0.6);
	color: #000000
}

.dropdown-content a:hover {
	background-color: #333;
	color: #FFFFFF
}

.dropdown:hover .dropdown-content {
	display: block
}

a:hover {
	color: #ff0022;
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#infoTop {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	background-color: rgba(55, 55, 55, 0.6);
	z-index: 1;
	/* TODO Solve this in HTML */
}

#infoBot {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	background-color: rgba(55, 55, 55, 0.6);
	z-index: 1;
	/* TODO Solve this in HTML */
}

a,
button,
input,
select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important;
	/* TODO Solve this in HTML */
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}